h1{color: coral;
    text-align: center;
    padding: 25px 25px;
    font-size: 40px
    } 
    
    
    
h2{
        padding: 15px;
    }
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.formularioboost{
    padding: 20px;
 
}