.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 15px;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(238, 4, 4, 0.801);

}